body {
	background-color: #34495e;
}
#music-player {
	margin: auto;
	max-width: 70%;
	background-color: red;
	margin-top: 30vh;
}
p {
	font-family: "Times New Roman";
	color: white;
}
#music-waveform {
	
}