body {
	background-color: #34495e;
}
#music-player {
	margin: auto;
	max-width: 70%;
	min-width: 50vh;
	background-color: #34495e;
	margin-top: 30vh;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
}
p {
	font-family: "Times New Roman";
	color: white;
}
#music-waveform {
	
}